h1{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    color: #3b3663;
    margin-top: 120px;
    margin-bottom: 90px;
    
}

* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
p{
    font-size: 18px;
    line-height: 28px;
    color: rgba(22, 28, 45, 0.7);
    opacity: .8;
}
.name{
    color: #3b3663;
    font-size: 30px;
    font-weight: 600;
}
.amount{
    margin-top: 7px;
    margin-bottom: 10px;
    color: rgba(22, 28, 45, 0.7);
}
.trial{
    font-size: .9rem;
    font-weight: 600;
    padding: 5px 20px 5px 20px;
    color: #0abf53;
    border: 1px solid #e4e4e4;
    display: inline-block;
    border-radius: 15px;
    background-color: white;
    position: relative;
    bottom: -20px;
}
button.get {
    border: none;
    outline: none;
    font-size: 18px;
    margin-top: 10px;
    color: #0abf53;
    background: rgba(170, 170, 170, 0.1);
    padding: 12px 25px;
    border-radius: 7px;
}
button, .btn, select {
    cursor: pointer;
}
.get:hover{
    background-color: #0abf53;
    color: white;
}
.package {
    width: 350px;
    margin: 0 10px;
    box-sizing: border-box;
    border: 3px solid #e8e8e8;
    background: #fff;
    border-radius: 7px;
    display: inline-block;
    padding: 40px 25px;
    text-align: center;
    transition: .5s linear;
    position: relative;
}

ul {
    list-style: none;
    padding: 0;
    text-align: left;
    margin-top: 50px;
}
li {
    margin-bottom: 20px;
    font-size: 17px;
    color: rgba(22, 28, 45, 0.7);
    opacity: .85;
}
.wrapper {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.brilliant {
    border-color: #0abf53;
}

.fa-color{
    font-size: 18px;
    color: #0abf53;
    margin-right: 3px;
}
a {
    color: #3b3663;
    text-decoration: none;
}
.brilliant:hover{
    animation-name: bounce;
    animation-timing-function: ease;
}
.pull-right {
    float: right;
    position: fixed;
    right: 0px;
    top: 70px;
    width: 90px;
    z-index: 99999;
    text-align: center;
}